<!-- Main -->
    <div class="main" role="main">

    <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Fundaciones</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Team</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->


      <!-- Page Content -->
      <section class="page-content">
        <div class="container">
          
          <div class="job_listings">
            <form class="job_filters">

              <div class="search_jobs">
                <div class="search_keywords">
                  <label for="search_keywords">Keywords</label>
                  <input type="text" name="search_keywords" id="search_keywords" placeholder="All Pet Sitters" class="form-control" value="" />
                </div>

                <div class="search_location">
                  <label for="search_location">Location</label>
                  <input type="text" name="search_location" id="search_location" placeholder="Any Location" class="form-control" value="" />
                </div>

                <div class="search_type">
                  <label>Service</label>
                  <span class="select-style">
                    <select class="form-control">
                      <option>All Services</option>
                      <option>Pet Feeding</option>
                      <option>Dog Walking</option>
                      <option>Cat Feeding</option>
                    </select>
                  </span>
                </div>

                <div class="search_submit">
                  <label>Submit</label>
                  <button class="btn btn-block btn-primary">Search</button>
                </div>
              </div>
            </form>


          <ul class="job_listings">


            <% @institutions.each do |institution| %>
              <li class="job_listing">
                <a href="#">
                  <img src="http://placehold.it/58x58" alt="" class="company_logo">
                  <div class="position">
                    <h3>Debbie Bidart</h3>
                    <div class="company">
                      <strong>Pet Sitter</strong>
                    </div>
                  </div>
                  <div class="location">
                    <i class="fa fa-map-marker"></i> Melbourne, AU
                  </div>
                  <ul class="meta">
                    <li class="date">
                      Posted 2 months ago
                    </li>
                  </ul>
                </a>
              </li>
            <% end %>
            </ul>

              </div>

          <div class="spacer"></div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <a class="load_more_jobs btn btn-default" href="#">Load more job listings</a>
            </div>
          </div>

        </div>
      </section>
      <!-- Page Content / End -->



<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Usuario</th>
      <th>Email</th>
      <th>Contraseña</th>
      <th>Representante Legal</th>
      <th>País</th>
      <th>Región</th>
      <th>Ciudad</th>
      <th>Sitioweb</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= institution.username %></td>
        <td><%= institution.email %></td>
        <td><%= institution.password %></td>
        <td><%= institution.manager %></td>
        <td><%= institution.country %></td>
        <td><%= institution.region %></td>
        <td><%= institution.city %></td> 

        <td><%= institution.website %></td>
        <td><%= link_to 'Mostrar', institution %></td>
        <td><%= link_to 'Editar', edit_institution_path(institution) %></td>
        <td><%= link_to 'Destruir', institution, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Institución', new_institution_path %>
