<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '863509317001518',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
             <h1>Regístrate</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Mascotas</a></li>
                <li class="active">Nuevo Usuario</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->

      <section class="page-content">
        <div class="container">
          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
              
              <fieldset>
                  <label>¿Tienes una cuenta?</label>
                  <div class="field account-sign-in">
                    <p>
                      <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-key"></i> Inicia Sesión</a>
                    </p>

                    <div class="alert alert-info alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
                      Si aún no tiene una cuenta, puede crearla abajo diligenciando los campos requeridos. La contraseña será enviada automáticamente a su correo electrónico.
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <label>Nombre <span class="required">*</span></label>
                  <div>
                   <%= f.text_field :name, class: "form-control"%>
                  </div>
                </fieldset>

                <fieldset>
                  <label>Email <span class="required">*</span></label>
                  <div>
                  <%= f.text_field :email, class: "form-control"%>
                  </div>
                </fieldset>

                <fieldset class="fieldset-job_type">
                      <label>País<span class="required">*</span></label>
                      <div class="field select-style">
                        <select name="job_type" id="job_type" class="form-control">
                          <!-- <option value="Inespecificado">Inespecificado</option> -->
                          <option value="Colombia">Colombia</option>
                          <!-- <option value="dog-sitter">Dog Sitter</option>
                          <option value="cat-sitter">Cat Sitter</option>
                          <option value="dog-walker">Dog Walker</option> -->
                        </select>
                      </div>
                    </fieldset>

                  
<fieldset>
  <div class="field">
    <%= f.label :region, "Región" %><br />
    <select name="institution[region]">
      <option value = "Amazonas">Amazonas</option>
      <option value = "Antioquia">Antioquia</option>
      <option value = "Arauca">Arauca</option>
      <option value = "Atlántico">Atlántico</option>
      <option value = "Bolívar">Bolívar</option>
      <option value = "Boyacá">Boyacá</option>
      <option value = "Caldas">Caldas</option>
      <option value = "Caquetá">Caquetá</option>
      <option value = "Casanare">Casanare</option>
      <option value = "Cauca">Cauca</option>
      <option value = "Cesar">Cesar</option>
      <option value = "Chocó">Chocó</option>
      <option value = "Córdoba">Córdoba</option>
      <option value = "Cundinamarca">Cundinamarca</option>
      <option value = "Guainía">Guainía</option>
      <option value = "Guaviare">Guaviare</option>
      <option value = "Huila">Huila</option>
      <option value = "La Guajira">La Guajira</option>
      <option value = "Magdalena">Magdalena</option>
      <option value = "Meta">Meta</option>
      <option value = "Nariño">Nariño</option>
      <option value = "Norte de Santander">Norte de Santander</option>
      <option value = "Putumayo">Putumayo</option>
      <option value = "Quindío">Quindío</option>
      <option value = "Risaralda">Risaralda</option>
      <option value = "San Andrés y Providencia">San Andrés y Providencia</option>
      <option value = "Santander">Santander</option>
      <option value = "Sucre">Sucre</option>
      <option value = "Tolima">Tolima</option>
      <option value = "Valle del Cauca">Valle del Cauca</option>
      <option value = "Vaupés">Vaupés</option>
      <option value = "Vichada">Vichada</option>
    </select>
  </div>
</fieldset>
<br />

<fieldset>
  <div class="field">
    <%= f.label :city, "Ciudad" %><br />
    <select name="institution[city]">
      <option value = "Arauca">Arauca</option>
      <option value = "Armenia">Armenia</option>
      <option value = "Barranquilla">Barranquilla</option>
      <option value = "Bogotá">Bogotá</option>
      <option value = "Bucaramanga">Bucaramanga</option>
      <option value = "Cali">Cali</option>
      <option value = "Cartagena de Indias">Cartagena de Indias</option>
      <option value = "Cucutá">Cucutá</option>
      <option value = "Florencia">Florencia</option>
      <option value = "Ibagué">Ibagué</option>
      <option value = "Inírida">Inírida</option>
      <option value = "Leticia">Leticia</option>
      <option value = "Manizalez">Manizalez</option>
      <option value = "Medellín">Medellín</option>
      <option value = "Mitú">Mitú</option>
      <option value = "Mocoa">Mocoa</option>
      <option value = "Montería">Montería</option>
      <option value = "Neiva">Neiva</option>
      <option value = "Pasto">Pasto</option>
      <option value = "Pereira">Pereira</option>
      <option value = "Popayán">Popayán</option>
      <option value = "Puerto Carreño">Puerto Carreño</option>
      <option value = "Quibdó">Quibdó</option>
      <option value = "Riohacha">Riohacha</option>
      <option value = "San Andrés">San Andrés</option>
      <option value = "San José del Guaviare">San José del Guaviare</option>
      <option value = "Santa Marta">Santa Marta</option>
      <option value = "Sincelejo">Sincelejo</option>
      <option value = "Tunja">Tunja</option>
      <option value = "Valledupar">Valledupar</option>
      <option value = "Villavicencio">Villavicencio</option>
      <option value = "Yopal">Yopal</option>
    </select>
  </div>
</fieldset>
<br />

                    <fieldset>
                  <label>Contraseña </label>
                  <div>
                   <%= f.password_field :password, autocomplete: "off",  class: "form-control"%>
                  </div>
                </fieldset>


                <fieldset>
                  <label>Confirmar Contraseña <span class="required">*</span></label>
                  <div>
                 <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>
                  
                </fieldset>

                  <div class="field account-sign-in">
                    <p>
                      <i class="fa fa-key"></i>

                      <%= f.submit "Registrarse", class: 'btn btn-primary btn-sm' %>

                    </p>

                    
                  </div>

                <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
              <% end %>

              <div id="user_nav">
                <% if current_user %>
                  Signed in as <strong><%= current_user.name %></strong>!
                  <%= link_to "Sign out", signout_path, id: "sign_out" %>
                <% else %>
                  <%= link_to "Sign in with Facebook", "auth/facebook", id: "sign_in" %>
                <% end %>
              </div>


              <%= render "devise/shared/links" %>

            </div>
          </div>

        </div>
      </section>
      
      <!-- Page Content / End -->
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>
      






