<div class="main" role="main">

      <!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Administrador de  Mascotas</h1>
            </div>
                <div class="col-md-6">
                   <ul class="breadcrumb">
                      <li><a href="/">Inicio</a></li>
                      <li><a href="about">¿Quiénes Somos?</a></li>
                      <li class="active">Adminitrador de Mascotas</li>
                   </ul>
                </div>
             </div>
        </div>
      </section>
      <!-- Page Heading / End -->

          <!-- Page Content -->
      <section class="page-content">
        <div class="container">

            <div class="table-responsive">
              <table class="job-manager-jobs table table-bordered table-striped">
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Usuario</th>
                      <th>Email</th>
                      <th>Contraseña</th>
                      <th>Representante Legal</th>
                      <th>País</th>
                      <th>Región</th>
                      <th>Ciudad</th>
                      <th>Sitio Web</th>
                  </tr>
                </thead>
      <tbody>
    <% @admin_institutions.each do |admin_institution| %>
      <tr>
        <td><%= admin_institution.name %></td>
        <td><%= admin_institution.username %></td>
        <td><%= admin_institution.email %></td>
        <td><%= admin_institution.password %></td>
        <td><%= admin_institution.manager %></td>
        <td><%= admin_institution.country %></td>
        <td><%= admin_institution.region %></td>
        <td><%= admin_institution.city %></td>
        <td><%= admin_institution.website %></td>
        <td><%= link_to 'Mostrar', admin_institution %></td>
        <td><%= link_to 'Editar', edit_admin_institution_path(admin_institution) %></td>
        <td><%= link_to 'Eliminar', admin_institution, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
              </table>

              
<%= link_to 'Nueva Institución', new_admin_institution_path %>
            </div>

          </div>

        </div>
      </section>









