<div class="main" role="main">

      <!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Dashboard Mascotas</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pet Sitters</a></li>
                <li class="active">Dashboard</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->

          <!-- Page Content -->
      <section class="page-content">
        <div class="container">

            <div class="table-responsive">
              <table class="job-manager-jobs table table-bordered table-striped">
                <thead>
                  <tr>
               <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Manager</th>
      <th>Country</th>
      <th>Region</th>
      <th>City</th>
      <th>Website</th>
                  </tr>
                </thead>
      <tbody>
    <% @admin_institutions.each do |admin_institution| %>
      <tr>
        <td><%= admin_institution.name %></td>
        <td><%= admin_institution.username %></td>
        <td><%= admin_institution.email %></td>
        <td><%= admin_institution.password %></td>
        <td><%= admin_institution.manager %></td>
        <td><%= admin_institution.country %></td>
        <td><%= admin_institution.region %></td>
        <td><%= admin_institution.city %></td>
        <td><%= admin_institution.website %></td>
        <td><%= link_to 'Show', admin_institution %></td>
        <td><%= link_to 'Edit', edit_admin_institution_path(admin_institution) %></td>
        <td><%= link_to 'Destroy', admin_institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
              </table>

              
<%= link_to 'New Institution', new_admin_institution_path %>
            </div>

          </div>

        </div>
      </section>









