<!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
            <h1>Nueva Institución</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Mascotas</a></li>
                <li class="active">Ingresar nueva Mascota</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
<!-- Page Heading / End -->


<section class="page-content">
        <div class="container">
          
          <div class="row">
            <div class="col-md-8 col-md-offset-2">

  

<%= form_for(@admin_institution) do |f| %>
  <% if @admin_institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% @admin_institution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
              <fieldset>
                <label>Logo<span class="required">*</span></label>
                 <div>
                <%= f.file_field :logo %>
                </div>
              </fieldset>
               <br /> 
  
        <fieldset>
                  <label>Nombre <span class="required">*</span></label>
                  <div>
                   <%= f.text_field :name, class: "form-control"%>
                  </div>
                </fieldset>
                <br />
                 <fieldset>
                  <label>Usuario <span class="required">*</span></label>
                  <div>
                   <%= f.text_field :username, class: "form-control"%>
                  </div>
                </fieldset>
                  <br />
                 <fieldset>
                  <label>Email <span class="required">*</span></label>
                  <div>
                   <%= f.text_field :email, class: "form-control"%>
                  </div>
                </fieldset>
                <br />
                <fieldset>
                  <label>Contraseña<span class="required"></span></label>
                  <div>
                 <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>
                </fieldset>
                <br />
                 <fieldset>
                  <label>Representante Legal <span class="required"></span></label>
                  <div>
                   <%= f.text_field :manager, class: "form-control"%>
                  </div>
                </fieldset>
                <br />
                <fieldset>
                  <label> Descripción <span class="required"></span></label>
                  <div>
                   <%= f.text_field :description, class: "form-control"%>
                  </div>
                </fieldset>
                <br />
                <fieldset>
                  <label>Sitio Web <span class="required"></span></label>
                  <div>
                   <%= f.text_field :website, class: "form-control"%>
                  </div>
                </fieldset>
                <br />
                <fieldset>
                  <br />

                 <fieldset>
                  <label>País <span class="required"></span></label>
                  <div>
                 <%= select_tag(:country, options_for_select(['Colombia', 'Colombia']))%>
                  </div>
                </fieldset>
              <br />
               
  
 
<fieldset>
<label>Región<span class="required"></span></label><br />
    <select>
      <option value = "Amazonas">Amazonas</option>
      <option value = "Antioquia">Antioquia</option>
      <option value = "Arauca">Arauca</option>
      <option value = "Atlántico">Atlántico</option>
      <option value = "Bolívar">Bolívar</option>
      <option value = "Boyacá">Boyacá</option>
      <option value = "Caldas">Caldas</option>
      <option value = "Caquetá">Caquetá</option>
      <option value = "Casanare">Casanare</option>
      <option value = "Cauca">Cauca</option>
      <option value = "Cesar">Cesar</option>
      <option value = "Chocó">Chocó</option>
      <option value = "Córdoba">Córdoba</option>
      <option value = "Cundinamarca">Cundinamarca</option>
      <option value = "Guainía">Guainía</option>
      <option value = "Guaviare">Guaviare</option>
      <option value = "Huila">Huila</option>
      <option value = "La Guajira">La Guajira</option>
      <option value = "Magdalena">Magdalena</option>
      <option value = "Meta">Meta</option>
      <option value = "Nariño">Nariño</option>
      <option value = "Norte de Santander">Norte de Santander</option>
      <option value = "Putumayo">Putumayo</option>
      <option value = "Quindío">Quindío</option>
      <option value = "Risaralda">Risaralda</option>
      <option value = "San Andrés y Providencia">San Andrés y Providencia</option>
      <option value = "Santander">Santander</option>
      <option value = "Sucre">Sucre</option>
      <option value = "Tolima">Tolima</option>
      <option value = "Valle del Cauca">Valle del Cauca</option>
      <option value = "Vaupés">Vaupés</option>
      <option value = "Vichada">Vichada</option>
    </select>
  </fieldset>
  <br>

  <fieldset>
<label>Ciudad<span class="required"></span></label><br />
    <select>
      <option value = "Arauca">Arauca</option>
      <option value = "Armenia">Armenia</option>
      <option value = "Barranquilla">Barranquilla</option>
      <option value = "Bogotá">Bogotá</option>
      <option value = "Bucaramanga">Bucaramanga</option>
      <option value = "Cali">Cali</option>
      <option value = "Cartagena de Indias">Cartagena de Indias</option>
      <option value = "Cucutá">Cucutá</option>
      <option value = "Florencia">Florencia</option>
      <option value = "Ibagué">Ibagué</option>
      <option value = "Inírida">Inírida</option>
      <option value = "Leticia">Leticia</option>
      <option value = "Manizalez">Manizalez</option>
      <option value = "Medellín">Medellín</option>
      <option value = "Mitú">Mitú</option>
      <option value = "Mocoa">Mocoa</option>
      <option value = "Montería">Montería</option>
      <option value = "Neiva">Neiva</option>
      <option value = "Pasto">Pasto</option>
      <option value = "Pereira">Pereira</option>
      <option value = "Popayán">Popayán</option>
      <option value = "Puerto Carreño">Puerto Carreño</option>
      <option value = "Quibdó">Quibdó</option>
      <option value = "Riohacha">Riohacha</option>
      <option value = "San Andrés">San Andrés</option>
      <option value = "San José del Guaviare">San José del Guaviare</option>
      <option value = "Santa Marta">Santa Marta</option>
      <option value = "Sincelejo">Sincelejo</option>
      <option value = "Tunja">Tunja</option>
      <option value = "Valledupar">Valledupar</option>
      <option value = "Villavicencio">Villavicencio</option>
      <option value = "Yopal">Yopal</option>
    </select>
  </fieldset>

<br />
        <div class="field account-sign-in">
                    <p>
                      

                      <%= f.submit "Crear Institución", class: 'btn btn-primary btn-sm' %>

                    </p>

                    
                  </div>

<% end %>


<%= link_to 'Atrás', admin_institutions_path %>

   </div>
          </div>

        </div>
      </section>
      <!-- Page Content / End -->
