  <!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Instituciones</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Instituciones</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->

      <section class="page-content">
        <div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @admin_institution.name %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @admin_institution.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_institution.email %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @admin_institution.password %>
</p>

<p>
  <strong>Representante Legal:</strong>
  <%= @admin_institution.manager %>
</p>

<p>
  <strong>País:</strong>
  <%= @admin_institution.country %>
</p>

<p>
  <strong>Región:</strong>
  <%= @admin_institution.region %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @admin_institution.city %>
</p>

<p>
  <strong>Sitio Web:</strong>
  <%= @admin_institution.website %>
</p>

<%= link_to 'Editar', edit_admin_institution_path(@admin_institution) %> |
<%= link_to 'Atrás', admin_institutions_path %>

</div >

</section>
