<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

          <ul>
            <% @pet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
                <% end %>
          </ul>
      </div>
  <% end %>
  
<div class="field">
  <%= f.label :photo %><br />
  <%= f.file_field :photo %>
</div>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
<br />

   <div class="field">
    <%= f.label :age, "Edad" %><br />
    <%= f.number_field("age", "Edad" nil, in: 1...360) %> Meses <%= f.label :age_edad, "Edad en meses. Ejemplo "13" "%>
<br />

  <div class="field">
    <%= f.label :kind, "Tipo" %><br />
    <%= f.radio_button("kind", "Perro") %> <%= f.label :kind_perro, "Perro" %> <br />
    <%= f.radio_button("kind", "Gato") %>  <%= f.label :kind_perro, "Gato" %>
  <!--   <input type="radio" name="kind" value="Perro">Perro<br />
    <input type="radio" name="kind" value="Gato">Gato -->
  </div>
<br />

  <div class="field">
    <%= f.label :gender, "Género" %><br />
    <%= f.radio_button("gender", "Macho") %> <%= f.label :gender_macho, "Macho" %> <br />
    <%= f.radio_button("gender", "Hembra") %>  <%= f.label :gender_hembra, "Hembra" %>
  </div>
  <br />

  <div class="field">
    <%= f.label :size, "Tamaño" %><br />
     <%= f.radio_button("size", "Pequeño") %> <%= f.label :size_pequeño, "Pequeño" %> <br />
     <%= f.radio_button("size", "Mediano") %> <%= f.label :size_mediano, "Mediano" %> <br />
     <%= f.radio_button("size", "Grande") %> <%= f.label  :size_grande, "Grande" %> <br />
     <%= f.radio_button("size", "Extra Grande") %>  <%= f.label :size_extragrande, "Extra Grande" %>
   </div>  
<br />  

  <div class="field">
    <%= f.label :country, "País" %><br />
   <select name="pet[country]">
    <option value = "Colombia">Colombia</option>
   </select>
  </div>
<br />

  <div class="field">
    <%= f.label :region, "Región" %><br />
    <select name="pet[region]">
      <option value = "Amazonas">Amazonas</option>
      <option value = "Antioquia">Antioquia</option>
      <option value = "Arauca">Arauca</option>
      <option value = "Atlántico">Atlántico</option>
      <option value = "Bolívar">Bolívar</option>
      <option value = "Boyacá">Boyacá</option>
      <option value = "Caldas">Caldas</option>
      <option value = "Caquetá">Caquetá</option>
      <option value = "Casanare">Casanare</option>
      <option value = "Cauca">Cauca</option>
      <option value = "Cesar">Cesar</option>
      <option value = "Chocó">Chocó</option>
      <option value = "Córdoba">Córdoba</option>
      <option value = "Cundinamarca">Cundinamarca</option>
      <option value = "Guainía">Guainía</option>
      <option value = "Guaviare">Guaviare</option>
      <option value = "Huila">Huila</option>
      <option value = "La Guajira">La Guajira</option>
      <option value = "Magdalena">Magdalena</option>
      <option value = "Meta">Meta</option>
      <option value = "Nariño">Nariño</option>
      <option value = "Norte de Santander">Norte de Santander</option>
      <option value = "Putumayo">Putumayo</option>
      <option value = "Quindío">Quindío</option>
      <option value = "Risaralda">Risaralda</option>
      <option value = "San Andrés y Providencia">San Andrés y Providencia</option>
      <option value = "Santander">Santander</option>
      <option value = "Sucre">Sucre</option>
      <option value = "Tolima">Tolima</option>
      <option value = "Valle del Cauca">Valle del Cauca</option>
      <option value = "Vaupés">Vaupés</option>
      <option value = "Vichada">Vichada</option>
    </select>
  </div>
<br />

  <div class="field">
    <%= f.label :city, "Ciudad" %><br />
    <select name="pet[city]">
      <option value = "Arauca">Arauca</option>
      <option value = "Armenia">Armenia</option>
      <option value = "Barranquilla">Barranquilla</option>
      <option value = "Bogotá">Bogotá</option>
      <option value = "Bucaramanga">Bucaramanga</option>
      <option value = "Cali">Cali</option>
      <option value = "Cartagena de Indias">Cartagena de Indias</option>
      <option value = "Cucutá">Cucutá</option>
      <option value = "Florencia">Florencia</option>
      <option value = "Ibagué">Ibagué</option>
      <option value = "Inírida">Inírida</option>
      <option value = "Leticia">Leticia</option>
      <option value = "Manizalez">Manizalez</option>
      <option value = "Medellín">Medellín</option>
      <option value = "Mitú">Mitú</option>
      <option value = "Mocoa">Mocoa</option>
      <option value = "Montería">Montería</option>
      <option value = "Neiva">Neiva</option>
      <option value = "Pasto">Pasto</option>
      <option value = "Pereira">Pereira</option>
      <option value = "Popayán">Popayán</option>
      <option value = "Puerto Carreño">Puerto Carreño</option>
      <option value = "Quibdó">Quibdó</option>
      <option value = "Riohacha">Riohacha</option>
      <option value = "San Andrés">San Andrés</option>
      <option value = "San José del Guaviare">San José del Guaviare</option>
      <option value = "Santa Marta">Santa Marta</option>
      <option value = "Sincelejo">Sincelejo</option>
      <option value = "Tunja">Tunja</option>
      <option value = "Valledupar">Valledupar</option>
      <option value = "Villavicencio">Villavicencio</option>
      <option value = "Yopal">Yopal</option>
    </select>
  </div>
<br />

 <!-- <div class="field">
    <%#= f.label :user_id %><br>
    <%#= f.text_field :user_id %>
  </div> -->

  <div class="field">
    <%= f.label :institution_id, "Institución" %><br />
    <%= f.text_field :institution_id, size: "60x1", maxlength: "200" %>
  </div>


  <div class="field">
    <%= f.label :story, "Historia o Descripción" %><br />
    <%= f.text_area :story, size: "60x3", maxlength: "200" %>
    <!-- <textarea name="comments" rows="3" maxlength="200" cols="60"></textarea> -->
  </div>

  <div class="actions">
    <%= f.submit "Crear Mascota" %>
  </div>

<% end %>
