<!-- Main -->
    <div class="main" role="main">

    <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Mascotas</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Team</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->
<!-- Page Content -->
      <section class="page-content">
        <div class="container">
  
          <ul class="team-list row">
            <% @pets.each do |pet| %>
            <li class="team-item col-md-3">
              <div class="team-item-inner">
                <figure class="team-thumb">
                  <img src="http://placehold.it/288x268" alt="">
                
                  <div class="overlay"></div>
                
                </figure>

                <header class="team-head">
                  <h5 class="team-name"><%= pet.name %></h5>
                  <span class="team-head-info"></span>
                </header>
                <div class="team-excerpt">
                 
                </div>
              </div>
            </li>
                <% end %>

          </ul>


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Tipo</th>
      <th>Género</th>
      <th>Tamaño</th>
      <th>Historia o Descripción</th>
      <th>Pais</th>
      <th>Región</th>
      <th>Ciudad</th>
      <th>Institución</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.age %></td>
        <td><%= pet.kind %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.size %></td>
        <td><%= pet.story %></td>
        <td><%= pet.city %></td>
        <td><%= pet.country %></td>
        <td><%= pet.region %></td>
        <td><%= pet.user %></td>
        <td><%= pet.institution %></td>
        <td><%= link_to 'Mostrar', pet %></td>
        <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destruir', pet, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

          </div>
      </section>




<br>

<%= link_to 'Nueva Mascota', new_pet_path %>
