<p id="notice"><%= notice %></p>

  <%= image_tag @pet.photo.url(:large) %>
  <%= image_tag @pet.photo.url(:small) %>
  <%= image_tag @pet.photo.url(:medium) %>
  <%= image_tag @pet.photo.url(:thumb) %>



<p>
  <strong>Nombre:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pet.kind %>
</p>

<p>
  <strong>Género:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Historia o descripción:</strong>
  <%= @pet.story %>
</p>

<p>
  <strong>País:</strong>
  <%= @pet.country %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @pet.city %>
</p>

<p>
  <strong>Región:</strong>
  <%= @pet.region %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pet.user %>
</p>

<p>
  <strong>Fundación:</strong>
  <%= @pet.institution %>
</p>

<%= link_to 'Editar', edit_pet_path(@pet) %> |
<%= link_to 'Atrás', pets_path %>
