<div class="main" role="main">

      <!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Dashboard Mascotas</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pet Sitters</a></li>
                <li class="active">Dashboard</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->

      <!-- Page Content -->
      <section class="page-content">
        <div class="container">

            <div class="table-responsive">
              <table class="job-manager-jobs table table-bordered table-striped">
                <thead>
                  <tr>
                   <th>Name</th>
      <th>Age</th>
      <th>Kind</th>
      <th>Gender</th>
      <th>Size</th>
      <th>Story</th>
      <th>Region</th>
      <th>City</th>
      <th>Country</th>
      <th>Institution</th>
                  </tr>
                </thead>
                <tbody>
    <% @admin_pets.each do |admin_pet| %>
      <tr>
        <td><%= admin_pet.name %></td>
        <td><%= admin_pet.age %></td>
        <td><%= admin_pet.kind %></td>
        <td><%= admin_pet.gender %></td>
        <td><%= admin_pet.size %></td>
        <td><%= admin_pet.story %></td>
        <td><%= admin_pet.region %></td>
        <td><%= admin_pet.city %></td>
        <td><%= admin_pet.country %></td>
      
        <td><%= link_to 'Show', admin_pet %></td>
        <td><%= link_to 'Edit', edit_admin_pet_path(admin_pet) %></td>
        <td><%= link_to 'Destroy', admin_pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
              </table>

              
<%= link_to 'New Pet', new_admin_pet_path %>
            </div>

          </div>

        </div>
      </section>




<br>

