<div class="main" role="main">

      <!-- Page Heading -->
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Administrador de Mascotas</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li><a href="about">¿Quiénes Somos?</a></li>
                <li class="active">Administrador de Mascotas</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->

      <!-- Page Content -->
      <section class="page-content">
        <div class="container">

            <div class="table-responsive">
              <table class="job-manager-jobs table table-bordered table-striped">
                <thead>
                  <tr>
                   <th>Nombre</th>
      <th>Edad</th>
      <th>Tipo</th>
      <th>Género</th>
      <th>Tamaño</th>
      <th>Historia o descripción</th>
      <th>Región</th>
      <th>Ciudad</th>
      <th>País</th>
      <th>Institución</th>
      <th>Tags</th>

                  </tr>
                </thead>
                <tbody>
               
    <% @admin_pets.each do |admin_pet| %>
      <tr>
        <td><%= admin_pet.name %></td>
        <td><%= admin_pet.age %></td>
        <td><%= admin_pet.kind %></td>
        <td><%= admin_pet.gender %></td>
        <td><%= admin_pet.size %></td>
        <td><%= admin_pet.story %></td>
        <td><%= admin_pet.region %></td>
        <td><%= admin_pet.city %></td>
        <td><%= admin_pet.country %></td>
        <td><%= admin_pet.institution %></td>
        <td><%= admin_pet.tag_list %></td>



      
        <td><%= link_to 'Mostrar', admin_pet %></td>
        <td><%= link_to 'Editar', edit_admin_pet_path(admin_pet) %></td>
        <td><%= link_to 'Destruir', admin_pet, method: :delete, data: { confirm: 'Esta seguro?' } %></td>

      </tr>
    <% end %>
  </tbody>
              </table>

              

              
<%= link_to 'Nueva Mascota', new_admin_pet_path %>
            </div>

          </div>

        </div>
      </section>




<br>

