<h1>Listing admin_pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Kind</th>
      <th>Gender</th>
      <th>Size</th>
      <th>Story</th>
      <th>Region</th>
      <th>City</th>
      <th>Country</th>
      <th>Institution</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_pets.each do |admin_pet| %>
      <tr>
        <td><%= admin_pet.name %></td>
        <td><%= admin_pet.age %></td>
        <td><%= admin_pet.kind %></td>
        <td><%= admin_pet.gender %></td>
        <td><%= admin_pet.size %></td>
        <td><%= admin_pet.story %></td>
        <td><%= admin_pet.region %></td>
        <td><%= admin_pet.city %></td>
        <td><%= admin_pet.country %></td>
        <td><%= admin_pet.institution %></td>
        <td><%= link_to 'Show', admin_pet %></td>
        <td><%= link_to 'Edit', edit_admin_pet_path(admin_pet) %></td>
        <td><%= link_to 'Destroy', admin_pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_admin_pet_path %>
