 <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>Editar Posts</h1>
            </div>
            <div class="col-md-6">
              <ul class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li><a href="about">¿Quiénes Somos?</a></li>
                <li class="active">Nueva Mascota</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Heading / End -->
<!-- Page Content -->
      <section class="page-content">
        <div class="container">

<%= form_for(@admin_post) do |f| %>
  <% if @admin_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_post.errors.count, "error") %> prohibited this admin_post from being saved:</h2>

      <ul>
      <% @admin_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :content, "Contenido" %><br>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :avatar, "Imagen" %><br>
  <%= form_for @post, :url => posts_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
  <% end %>
  </div>
 
  <div class="field">
    <%= f.label :month, "Mes" %><br>
    <%= f.text_area :month %>
  </div>
  <div class="field">
    <%= f.label :day, "Dia" %><br>
    <%= f.text_area :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Mostrar', @admin_post %> |
<%= link_to 'Atrás', admin_posts_path %>
</div>
</section	>



