<p id="notice"><%= notice %></p>



<p>
  <strong>Nombre:</strong>
  <%= @admin_post.nombre %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @admin_post.content %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @admin_post.month %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @admin_post.day %>
</p>

<%= link_to 'Editar', edit_admin_post_path(@admin_post) %> |
<%= link_to 'Atrás', admin_posts_path %>
